@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
  background-color: #eee;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
h4, h3, h2, h1, span{
  color: #333;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.6em;
  font-weight: bold;
}
.col-md-6 .col-sm-6 .col-md-3 .col-sm-3 .col-md-12 {
  border-radius: 1px solid;
  text-align: center;
}
.grid {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  line-height: .55em;
  font-size: 1.1em;
}
#win-message{
  border: 1px solid;
  text-align:center;
  font-size: 5em;
  position: absolute;
  top: 45%;
  background-color: #ddd;
  margin: 0 auto;
  padding: 0;
  min-width: 100%;
  opacity: 0;
  display:none;
}
.footer {
  text-align: center;
  display: block;
  margin: 15px auto 30px auto;
  font-size: 0.8em;
  color: #333;
}
.footer a {
  font-weight: 500;
  text-decoration: none;
  color: #333;
}
.btn-simon{
  width: 4.5em;
  height: 4.5em;
  margin: 0.3em;
}
.btn{
  border: 0.01em solid;
  border-color: #5a5a5a;
  box-shadow: 0px 3px 3px -1px black;
}
.btn:focus{
  border: 0.01em solid;
  border-color: #5a5a5a;
  box-shadow: 0px 3px 3px -1px black;
}
.btn:hover{
  filter:brightness(130%);
}
.pressed{
  filter:brightness(130%);
}

.pressed:hover{
  filter:brightness(180%);
}
.btn.button:hover {
  opacity: 0.9;
}

.btn.button{
  font-weight: 600;
  background-color: #777;
  color: #eee;
}
